@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,900,900i&subset=cyrillic,cyrillic-ext');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { height: 100%; }
body { background-color: #f1f5f6; font-family: Roboto, sans-serif; }
a:visited, a:link, a:active { text-decoration: none; color: #000; }
a { text-decoration: none; }

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}


.main-middle {
    display: flex;
    padding: 35px;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 5%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 35px -6px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 5px 35px -6px rgba(0,0,0,0.35);
    box-shadow: 0px 5px 35px -6px rgba(0,0,0,0.35);
}

.contact-form--ty {
    padding: 10% 5%;
    text-align: center;
}

.contact-form h2 {
    margin-bottom: 25px;
    font-size: 30px;
}

form {
    width: 90%;
}

form >:not(#phone):not(textarea):not(#send-btn) {
    margin-right:-2px;
}

#name, #email, #position {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}

#phone {
    width: 100%;
}

input, textarea {
    background-color: #f9f9f9;
    border: 0;
    outline: none;
    padding: 10px;
    margin-bottom: 15px;
}

.select-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.select-wrapper div {
    margin-bottom: 3%;
}

select {
    background-color: #f9f9f9;
    border: 0;
    outline: none;
    padding: 10px;
    margin-bottom: 15px;
    width: 70%;
    margin-left: auto;
}

#send-btn {
    background-color: #000;
    border: 0;
    outline: 0;
    color: #fff;
    width: 100%;
    font-size: 18px;
    margin-right: 0;
    transition: .5s;
    cursor: pointer;
    border: 1px solid #000;
    height: 40px;
   margin-bottom: 5%;
}

#send-btn:hover {
    background-color: #fff;
    color: #000;
}

#send-btn:active {
    -webkit-box-shadow: 0px 5px 21px -1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 5px 21px -1px rgba(0,0,0,0.35);
    box-shadow: 0px 5px 21px -1px rgba(0,0,0,0.35);
}
